#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper {height: 730px;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt {position: absolute; left: 280px; bottom: 125px;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt > * {color: #fff;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt p {
    font-size: 2.5rem; font-weight: 700; 
    line-height: 1.43;
    margin-bottom: 10px;
}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt span {font-weight: 500; line-height: 1.7;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide1 {background-image: url(../images/hero_bnr_001.jpg);}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide2 {background-image: url(../images/hero_bnr_002.jpg);}
/* ============================================================================================ 컬러칩 공통 */
.thum_color_wrap {}
.thum_color_wrap .thum_color {}
/* ============================================================================================ fab */
#wrap main .fab {position: fixed; right: 20px; bottom: 26px; z-index: 999;}
#wrap main .fab a {
    width: 50px; height: 50px;
    display: flex; align-items: center; justify-content: center;
    box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.64);
}
#wrap main .fab #cs {font-size: 1.25rem; font-weight: 600; margin-bottom: 8px;}
#wrap main .fab #top span {width: 16px; line-height: 14px;}
#wrap main .fab #top img {width: 100%; height: auto;}
/* ============================================================================================product swiper wrap */
#wrap main .festa_right {padding: 0 0 50px; position: relative; width: 100%; height: auto;}
#wrap main .festa_right .tab_contents .swiper-pagination-progressbar-fill {
    background-color: #000;
    height: 100%;
}
#wrap main .festa_right > .tab_contents .swiper-pagination.swiper-pagination-progressbar {
    width: 100%; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: auto; bottom: 0; 
    height: 2px;
}
/*  */
#wrap main .product {padding: 70px 90px 140px; position: relative; width: 100%; height: auto;}
#wrap main .product .tab_contents .swiper-pagination-progressbar-fill {
    background-color: #000;
    height: 100%;
}
#wrap main .product .tab_contents .swiper-pagination.swiper-pagination-progressbar {
    width: calc(100% - 180px); 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    top: auto; bottom: 70px;
    height: 2px;
}
#wrap main .product_top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}
#wrap main .product_top .title_menu {display: flex; flex-flow: row nowrap;}
#wrap main .product_top .title_menu > h1 {
    font-size: 2.25rem; font-weight: 600;
    margin-right: 42px;
}
#wrap main .product_top .title_menu .tab_menu {
    display: flex; flex-flow: row nowrap; 
    gap: 20px;
    text-align: center;
}
#wrap main .product_top .title_menu .tab_menu a {
    font-size: 0.94rem; font-weight: 300; color: #5C5C5C;
    line-height: 38px; width: 55px;
    display: block;
}
#wrap main .product_top .title_menu .tab_menu .active {
    border-bottom: 1px solid #000; font-weight: 500; color: #000;
}
#wrap main .product_top .more {
    width: 88px; display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;
}
#wrap main .product_top .more span {}
#wrap main .product_top .more .more_icon {width: 24px; display: block; margin-left: 10px;}
#wrap main .product_top .more img {width: 100%;}
#wrap main {position: relative;}
#wrap main .tab_contents {}
#wrap main .tab_contents .swiper {}
#wrap main .tab_contents .swiper .swiper-wrapper {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho {margin-bottom: 22px;}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho img {width: 100%;}
#wrap main a .details {}
#wrap main a .details h2 {font-size: 0.95rem; font-weight: 500; margin-bottom: 5px;}
#wrap main a .details .price {font-size: 0.88rem; line-height: 1.4;}
#wrap main a .details .price span {color: #727272; margin-right: 6px;}
#wrap main a .details .price del {color: #C4C4C4;}
/* ============================================================================================promotion swiper wrap */
#wrap main .promotion_bnr {}
#wrap main .promotion_bnr .promotion {height: 600px; z-index: 988;}
#wrap main .promotion_bnr .promotion .swiper-wrapper {}
#wrap main .promotion_bnr .promotion::after {
    content: ''; display: block; 
    position: absolute; 
    width: 100%; height: 100%; left: 0; top: 0;
    background: linear-gradient(transparent, #000 74%);
    opacity: 0.2;
    z-index: 900;
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide {}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt {
    position: absolute; z-index: 999;
    bottom: 102px; left: 302px; 
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt * {
    font-weight: 700; line-height: 1.43; 
    color: #fff; 
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt p {font-size: 2rem;}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt p span {font-size: 2.5rem;}
#wrap main .promotion_bnr .promotion .swiper-wrapper .slide1 {background-image: url(../images/promotion_bnr_001.jpg);}
#wrap main .promotion_bnr .promotion .swiper-wrapper .slide2 {background-image: url(../images/promotion_bnr_002.jpg);}
/* ============================================================================================festa */
#wrap main .festa {display: grid; grid-template-columns: 3fr 7fr; gap: 66px; padding: 70px 90px;}
#wrap main .festa .festa_left {
    background-image: url(../images/festa.jpg); background-size: cover; background-position: center;
    position: relative; 
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#wrap main .festa .festa_left .festa_left_txt {
    display: flex; justify-content: space-between;  padding: 54px;
}
#wrap main .festa .festa_left .festa_left_txt span {color: #fff;}
#wrap main .festa .festa_left .festa_left_txt span:first-child {font-size: 1.5rem; font-weight: 500;}
#wrap main .festa .festa_left .festa_left_txt span:last-child {}
#wrap main .festa .festa_right {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .festa .festa_right .festa_swiper {
    width: 100%; min-width: 0; 
    overflow: hidden;
    position: relative;
}
#wrap main .festa .festa_right .festa_swiper .swiper-slide {height: 567px;}
/* ============================================================================================collection */
#wrap main .collection {margin-left: 90px;}
#wrap main .collection .product_top {margin-right: 90px;}
#wrap main .collection .collection_swiper {}
#wrap main .collection .collection_swiper .swiper-wrapper {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line {
    display: block; 
    background: url(../images/collection_001.jpg);
    background-size: cover; background-position: top;
    height: 703px;
}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt * {color: #fff; font-weight: 600;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt h2 {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt p {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product {
    margin: 14px 0; display: grid; grid-template-columns: 96px 1fr; gap: 20px;
}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .collec_product_thum {height: 128px;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .collec_product_thum img {width: 100%;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .details {}

/* ============================================================================================archives */
#wrap main .archives_bg {background: #000; padding: 70px 0 70px 90px;}
#wrap main .archives_bg .archives {}
#wrap main .archives_bg .archives .archives_swiper {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide {}
#wrap main .archives_bg .archives * {color: #fff;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_thum {height: 544px;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_thum img {height: 100%;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_category {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_title {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_day {}