#wrap {}
#wrap header {width: 100%; background-color: #fff; position:sticky; left: 0; top: 0; width: 100%; z-index: 999;}
#wrap #h_top {background-color: #000; text-align: center;}
#wrap #h_top a {color: #fff; font-size: 0.75rem; line-height: 34px;}

#wrap header #h_bottom {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 90px; align-items: center; 
    position: relative;
}
#wrap header #h_bottom #logo_gnb {display: flex; flex-flow: row nowrap; align-items: center;}
#wrap header #h_bottom h1 {margin-right: 62px;}
#wrap header #h_bottom h1 a {}
#wrap header #h_bottom h1 a img {width: 100%;}
header #h_bottom #logo_gnb .gnb_wrap {}
header #h_bottom #logo_gnb .gnb_wrap .menu_back {
    display: none;
    position: absolute; 
    background-color: rgba(255,255,255,0.9);
    width: 100%; height: 300px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
header #h_bottom #logo_gnb .gnb_wrap .gnb {display: flex; flex-flow: row nowrap; gap: 16px; position: relative;}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li {position: relative;}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:hover > a {font-weight: 600;}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li > a {
    line-height: 60px; width: 80px; 
    display: block; 
    text-align: center;
}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(4), 
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(5) {position: static;}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(4) .lnb, 
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(5) .lnb {
    z-index: 200;
    width: 100vh;
    top: 60px; left: 0; transform: none;
    display: none; flex-flow: row nowrap; gap: 16px;
    position: absolute;
}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li .lnb {
    display: none; flex-flow: column nowrap;
    position: absolute;
    top: 60px; left: 50%;
    transform: translateX(-50%);
    z-index: 400; 
}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(4) > .lnb > li > a,
header #h_bottom #logo_gnb .gnb_wrap .gnb > li:nth-child(5) > .lnb > li > a {font-size: 0.94rem; font-weight: 500;}
header #h_bottom #logo_gnb .gnb_wrap .gnb > li .lnb > li a {
    line-height: 50px; width: 80px; 
    display: block; 
    text-align: center;
    font-size: 0.88rem; z-index: 300;
}
/* ============================================================================================ user_nav */
#wrap header #h_bottom .user_nav {display: flex; flex-flow: row nowrap; gap: 16px; align-items: center;}
#wrap header #h_bottom .user_nav li {}
#wrap header #h_bottom .user_nav li a {display: flex; align-items: center; line-height: 24px;}
#wrap header #h_bottom .user_nav li .search_back {
    display: block;
    position: absolute; 
    background-color: rgba(255,255,255,0.9);
    width: 100%; height: 82px;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}
#wrap header #h_bottom .user_nav li #search_box {
    position: absolute;
    top: 76px; left: 50%;
    transform: translateX(-50%);
    width: 600px; height: 50px; z-index: 150; border: 1px solid #CDCDCD; border-radius: 36px;
    padding: 0 40px;
}
#wrap header #h_bottom .user_nav li a img {width: 100%;}
/* ============================================================================================ footer */
footer address span, footer * dd {line-height: 1.7;}
footer * dt {font-size: 0.94rem; font-weight: 500; margin-bottom: 20px;}
footer * dd {font-size: 0.88rem;}
#wrap footer {}
#wrap footer #f_top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; align-items: center;
    padding: 14px 90px;
    border-block: 1px solid #000;
}
#wrap footer #f_top > a {width: 80px; height: 25px;}
#wrap footer #f_top > a img {width: 100%;}
#wrap footer #f_top .sns {display: flex; flex-flow: row nowrap; align-items: center; gap: 20px;}
#wrap footer #f_top .sns a {width: 28px; display: flex; align-items: center;}
#wrap footer #f_top .sns a img {width: 100%;}
#wrap footer #f_bottom {padding: 70px 90px; display: grid; grid-template-columns: 6fr 4fr;}
#wrap footer #f_bottom .f_left {display: flex; flex-flow: column wrap; gap: 20px;}
#wrap footer #f_bottom .f_left #fnb {margin-bottom: 20px;}
#wrap footer #f_bottom .f_left #fnb li {margin-right: 20px; float: left;}
#wrap footer #f_bottom .f_left #fnb li a {font-weight: 500;}
#wrap footer #f_bottom .f_left address {display: flex;}
#wrap footer #f_bottom .f_left address span:first-child {margin-right: 40px;}
#wrap footer #f_bottom .f_right {display: flex; flex-flow: row wrap; gap: 40px;}
#wrap footer #f_bottom .f_right .info {}
#wrap footer #f_bottom .f_right .info dt {}
#wrap footer #f_bottom .f_right .info dd {}
#wrap footer #f_bottom .f_right .info dt:first-child+dd {margin-bottom: 30px;}
#wrap footer #f_bottom .f_right .bank {}
#wrap footer #f_bottom .f_right .bank dt {}
#wrap footer #f_bottom .f_right .bank dd {}
/* ============================================================================================ fab */
#wrap #fab {position: fixed; right: 20px; bottom: 26px; z-index: 999;}
#wrap #fab a {
    width: 50px; height: 50px;
    display: flex; align-items: center; justify-content: center;
    box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.64);
    background-color: #fff;
}
#wrap #fab #cs {font-size: 1.25rem; font-weight: 600; margin-bottom: 8px;}
#wrap #fab #top span {width: 16px; line-height: 14px;}
#wrap #fab #top img {width: 100%; height: auto;}