#wrap main {}
#wrap main #hero_bnr {}
#wrap main #hero_bnr .hero_swiper {height: 730px; width: 100%;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide {}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt {position: absolute; left: 280px; bottom: 125px;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt > * {color: #fff;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt p {
    font-size: 2.5rem; font-weight: 700; 
    line-height: 1.43;
    margin-bottom: 10px;
}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .swiper-slide .hero_txt span {font-weight: 500; line-height: 1.7;}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide1 {background-image: url(../images/hero_bnr_001.jpg);}
#wrap main #hero_bnr .hero_swiper .swiper-wrapper .slide2 {background-image: url(../images/hero_bnr_002.jpg);}
#hero_bnr .hero_swiper .swiper-pagination-progressbar-fill {
    background-color: #fff;
    height: 100%;
}
#hero_bnr .hero_swiper .swiper-pagination.swiper-pagination-progressbar {
    width: 500px; height: 2px;
    left: 50%;
    top: auto; bottom: 44px;
    transform: translateX(-50%);
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 100;
}
/* ============================================================================================ 컬러칩 공통 */
.thum_color_wrap {}
.thum_color_wrap .thum_color {width: max-content;}
.thum_color_wrap .thum_color::after {
    content: ''; display: block;
    left: 0; top: 0; color: aqua; background-color: blue;
    width: 18px; height: 18px; 
    float: left; margin-right: 8px;
    border-radius: 50%; 
}
/* ============================================================================================product swiper wrap */
#wrap main .festa_right {padding: 0 0 50px; position: relative; width: 100%; height: auto;}
#wrap main .festa_right .tab_contents .swiper-pagination-progressbar-fill {
    background-color: #000;
    height: 100%;
}
#wrap main .festa_right > .tab_contents .swiper-pagination.swiper-pagination-progressbar {
    width: 100%; 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: auto; bottom: 0; 
    height: 2px;
}
/*  */
#wrap main .product {padding: 70px 90px 140px; position: relative; width: 100%; height: auto;}
#wrap main .product .tab_contents .swiper-pagination-progressbar-fill {
    background-color: #000;
    height: 100%;
}
.festa_right .tab_contents .festa_prev,
.festa_right .tab_contents .festa_next {bottom: 26px;}
.festa_right .tab_contents .festa_prev {left: auto; right: 54px;}
.tab_contents [class*="_prev"],
.tab_contents [class*="_next"] {
    top: auto;
    bottom: 90px;
    transform: scale(0.54);
}
.tab_contents [class*="_prev"] svg,
.tab_contents [class*="_next"] svg {color: #1C1B1F;}
.tab_contents .new_prev,
.tab_contents .best_prev {left: auto; right: 138px;}
.tab_contents .new_next,
.tab_contents .best_next {right: 90px;}
#wrap main .product .tab_contents .swiper-pagination.swiper-pagination-progressbar {
    width: calc(100% - 180px); 
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    top: auto; bottom: 70px;
    height: 2px;
}
#wrap main .product_top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}
#wrap main .product_top .title_menu {display: flex; flex-flow: row nowrap;}
#wrap main .product_top .title_menu > h1 {
    font-size: 2.25rem; font-weight: 600;
    margin-right: 42px;
}
#wrap main .product_top .title_menu .tab_menu {
    display: flex; flex-flow: row nowrap; 
    gap: 20px;
    text-align: center;
}
#wrap main .product_top .title_menu .tab_menu a {
    font-size: 0.94rem; font-weight: 300; color: #5C5C5C;
    line-height: 38px; width: 55px;
    display: block;
}
#wrap main .product_top .title_menu .tab_menu .active {
    border-bottom: 1px solid #000; font-weight: 500; color: #000;
}
#wrap main .product_top .more {
    width: 88px; display: flex; flex-flow: row nowrap; align-items: center; justify-content: center;
}
#wrap main .product_top .more span {}
#wrap main .product_top .more .more_icon {width: 24px; display: flex; align-items: center; margin-left: 10px;}
#wrap main .product_top .more img {width: 100%;}
#wrap main {position: relative;}
#wrap main .tab_contents {}
#wrap main .tab_contents .swiper {}
#wrap main .tab_contents .swiper .swiper-wrapper {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho {margin-bottom: 22px;}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a .potho img {width: 100%;}
#wrap main a .details {}
#wrap main a .details h2 {font-size: 0.95rem; font-weight: 500; margin-bottom: 5px;}
#wrap main a .details .price {font-size: 0.88rem; line-height: 1.4; margin-bottom: 10px;}
#wrap main a .details .price span {color: #727272; margin-right: 6px;}
#wrap main a .details .price del {color: #C4C4C4;}
/* ============================================================================================promotion swiper wrap */
#wrap main .promotion_bnr {}
#wrap main .promotion_bnr .promotion {height: 600px;}
#wrap main .promotion_bnr .promotion .swiper-wrapper {}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide::after {
    content: ''; display: block; 
    position: absolute; 
    width: 100%; height: 100%; left: 0; top: 0;
    background: linear-gradient(transparent, #000 74%);
    opacity: 0.2;
    z-index: 150;
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide {position: relative;}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt {
    position: absolute; z-index: 200;
    bottom: 102px; left: 302px; 
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt * {
    font-weight: 700; line-height: 1.43; 
    color: #fff; 
}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt p {font-size: 2rem;}
#wrap main .promotion_bnr .promotion .swiper-wrapper .swiper-slide .promotion_txt p span {font-size: 2.5rem;}
#wrap main .promotion_bnr .promotion .swiper-wrapper .slide1 {background-image: url(../images/promotion_bnr_001.jpg);}
#wrap main .promotion_bnr .promotion .swiper-wrapper .slide2 {background-image: url(../images/promotion_bnr_002.jpg);}
.promotion_bnr .promotion .swiper-button-prev.pr_prev {left: 40px;}
.promotion_bnr .promotion .swiper-button-next.pr_next {right: 40px;}
.promotion_bnr .promotion .swiper-button-prev.pr_prev,
.promotion_bnr .promotion .swiper-button-next.pr_next {transform: scale(0.77); z-index: 999;}
.promotion_bnr .promotion .swiper-button-prev.pr_prev svg,
.promotion_bnr .promotion .swiper-button-next.pr_next svg {color: rgba(0,0,0,0.36);}
/* ============================================================================================festa */
#wrap main .festa {display: grid; grid-template-columns: 4fr 6fr; gap: 66px; padding: 70px 90px;}
#wrap main .festa .festa_left {
    background-image: url(../images/festa.jpg); background-size: cover; background-position: center;
    position: relative; 
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#wrap main .festa .festa_left .festa_left_txt {
    display: flex; justify-content: space-between;  padding: 54px;
}
#wrap main .festa .festa_left .festa_left_txt span {color: #fff;}
#wrap main .festa .festa_left .festa_left_txt span:first-child {font-size: 1.5rem; font-weight: 500;}
#wrap main .festa .festa_left .festa_left_txt span:last-child {}
#wrap main .festa .festa_right {
    min-width: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#wrap main .tab_contents .swiper .swiper-wrapper .swiper-slide a {}
#wrap main .festa .festa_right .festa_swiper { 
    width: 100%; min-width: 0; 
    overflow: hidden;
    position: relative;
    padding-bottom: 50px;
}
#wrap main .festa .festa_right .festa_swiper .swiper-slide {height: 567px;}
/* ============================================================================================collection */
#wrap main .collection {margin: 70px 0 70px 90px;}
#wrap main .collection .product_top {margin-right: 90px;}
#wrap main .collection .collection_swiper {}
#wrap main .collection .collection_swiper .swiper-wrapper {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line {
    display: block; height: 703px;
    background-size: cover; background-position: center top;
    position: relative;
}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide:nth-child(1) .collec_line {background-image: url(../images/collection_001.jpg);}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide:nth-child(2) .collec_line {background-image: url(../images/collection_002.jpg);}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide:nth-child(3) .collec_line {background-image: url(../images/collection_003.jpg);}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide:nth-child(4) .collec_line {background-image: url(../images/collection_001.jpg);}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide:nth-child(4) .collec_line {background-image: url(../images/collection_001.jpg);}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt {
    position: absolute; left: 0; bottom: 0;
    background: rgba(0,0,0,0.4);
    width: 100%; padding: 22px 44px; line-height: 108px;
}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt * {color: #fff; font-weight: 600;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt h2 {font-size: 1.75rem; margin-bottom: 10px;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_line .collec_txt p {}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product {
    margin: 14px 0; display: grid; grid-template-columns: 96px 1fr; gap: 14px;
    border-bottom: 1px solid #C4C4C4; padding-bottom: 14px;
}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .collec_product_thum {height: 100%;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .collec_product_thum img {width: 100%;}
#wrap main .collection .collection_swiper .swiper-wrapper .swiper-slide .collec_product .details {}

/* ============================================================================================archives */
#wrap main .archives_bg {background: #000; padding: 70px 0 70px 90px;}
#wrap main .archives_bg .archives {}
#wrap main .archives_bg .archives .product_top {padding-right: 90px;}
#wrap main .archives_bg .archives .product_top * {color: #fff !important;}
#wrap main .archives_bg .archives .product_top .more img {filter: invert(100%);}
#wrap main .archives_bg .archives .product_top .tab_menu {}
#wrap main .archives_bg .archives .product_top .tab_menu a {font-weight: 300; width: 100%;}
#wrap main .archives_bg .archives .product_top .tab_menu a.active {font-weight: 500;}
#wrap main .archives_bg .archives .product_top .archives_swiper {height: auto;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide {}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_thum {height: 600px; width: 100%; overflow: hidden;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_thum img {height: 100%; width: 100%; object-fit: cover;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt {margin-top: 20px;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt p {color: #fff}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_category {
    padding: 1px 3px;
    background-color: #fff; color: #000 !important; 
    font-size: 0.75rem;
    display: inline-block;
}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_title {line-height: 1.7;}
#wrap main .archives_bg .archives .archives_swiper .swiper-wrapper .swiper-slide .archives_txt .archives_day {font-size: 0.81rem; color: #9D9D9D;}
/* ============================================================================================instagram */
#wrap main .instagram {display: flex; gap: 30px; padding: 70px 30px;}
#wrap main .instagram .insta_link {}
#wrap main .instagram .insta_link .instaid {
    display: grid; grid-template-columns: 36px 1fr; 
    align-items: center; gap: 10px;
    margin-bottom: 20px;
}
#wrap main .instagram .insta_link .instaid img {}
#wrap main .instagram .insta_link .instaid p {font-weight: 500; font-size: 1.25rem;}
#wrap main .instagram .insta_thum {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px;}
#wrap main .instagram .insta_thum img {width: 100%;}