@media screen and (max-width:520px) {
    #h_top {display: none;}
    #h_bottom #logo_gnb .gnb_wrap {display: none;}
    #h_bottom .user_nav li:nth-child(1) {display: none;}
    #h_bottom .user_nav li:nth-child(2) {display: none;}
}